<div id="<%= dom_id client %>">
        <tr>
          <th scope="row"><%=client.id%></th>
          <td><%=client.name%></td>
          <td><%=client.lastname%></td>
          <td><%=client.rut%></td>
          <td><%=client.mail%></td>
          <td><%=client.phone%></td>
          <td><%=client.commune%></td>
          <td><%=client.region%></td>
          <td><%=client.project%></td>
          <td><%= link_to "Show this client", client %></td>
        </tr>

</div>
